<div class="single-show">

<h3><%= @show['title'] %></h3>

<img src="<%= @show['image_url'] %>" alt="">
<br>

<form action="/likes" method="post">
  <input type="hidden" name="show_id" value="<%= @show['id'] %>">
  <button>LIKE!</button>
  (<%= @show.likes.count %>)
</form>

<p>On air since: <%= @show['year'] %></p>
<p>Show description: <%= @show['body'] %></p>

<% if logged_in? && current_user.admin? %>
<form action="/shows/<%= @show['id'] %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button>Be Gone!</button>
</form>
<% end %>
<br>

</div>
<br>
<div class="comments">

<form action="/comments" method="post">
  <p><label for="">Comments</label></p>
  <br>
  <input type="hidden" name="show_id" value="<%= @show['id'] %>">
  <textarea name="body" cols="30" rows="5"></textarea>
  <br>
  <button>Post!</button>
</form>

<% @comments.each do |comment| %>

  <p><%= comment["body"] %></p>

  <form action="/comments/<%= comment.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button>Take it away!</button>
  </form>
<br>
<% end %>

</div>
