
<img src="<%= @show['image_url'] %>" alt="">

<h3>Show title: <%= @show['title'] %></h3>
On air since: <%= @show['year'] %>
<br>
Show description: <%= @show['body'] %>
<br>
<br>

<% if logged_in? && current_user.admin? %>
<form action="/shows/<%= @show['id'] %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button>Be Gone!</button>
</form>
<% end %>

<form action="/likes" method="post">

  <input type="hidden" name="show_id" value="<%= @show['id'] %>">
  <button>LIKE!</button>
  (<%= @show.likes.count %>)

</form>

<form action="/comments" method="post">

  <label for="">Comments: </label>
  <input type="hidden" name="show_id" value="<%= @show['id'] %>">
  <textarea name="body" cols="20" rows="5"></textarea>
  <button>Post!</button>

</form>

<% @comments.each do |comment| %>

  <p><%= comment["body"] %></p>

  <form action="/comments/<%= comment.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button>Take it away!</button>
  </form>

<% end %>

